<form action="/add" method="POST">
<p>id</p>
<input type="number" name="id" id="id">
<p>firstname</p>
<input type="text" name="firstname" id="firstname">
<p>country</p>
<input type="text" name="country" id="country">
<p>city</p>
<input type="text" name="city" id="city">
<p>profession</p>
<input type="text" name="profession" id="profession">
<p>age</p>
<input type="number" name="age" id="age">
<p>gender</p>
<input type="text" name="gender" id="gender">
<p>rand</p>
<input type="number" name="rand" id="rand">
<br>
<input type="submit" name="enviar">
</form>