{% extends 'base.html' %}
{% block content %}
<form action="/add" method="POST">
  <dl>
    <dt><label>id</label></dt>
    <dd><input type="number" readonly="readonly" name="id" id="id"></dd>
    <dt><label>firstname</label></dt>
    <dd><input type="text" name="firstname" id="firstname"></dd>
    <dt><label>country</label></dt>
    <dd><input type="text" name="country" id="country" ></dd>
    <dt><label>city</label></dt>
    <dd><input type="text" name="city" id="city" ></dd>
    <dt><label>profession</label></dt>
    <dd><input type="text" name="profession" id="profession"></dd>
    <dt><label>age</label></dt>
    <dd><input type="number" name="age" id="age" ></dd>
    <dt><label>gender</label></dt>
    <dd><select name="gender" id="gender" ></dd>
        <option value="male">male</option>
        <option value="female">female</option>
      </select></dd>
    <dt><label>rand</label></dt>
    <dd><input type="number" name="rand" id="rand" ></dd>
    <br>
    <input type="submit" name="enviar">
  </dl>
</form>
{% endblock %}