<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<title>BI APP DEMO - {{title}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tables">tables</a></li>
    <li><a href="/graphics">graphics</a></li>
    <li><a href="/info">info</a></li>
    <li><a href="/json">json</a></li>
    <li><a href="/getusers">get all users</a></li>
    <li><a href="/adduser">add new user</a></li>
    <li><a href="/regenerateDF">Regenerate DF</a></li>
  </ul>
</nav>
<section class="content">
{% block content %}{% endblock %}
</section>
</br></br>
</br></br>
<footer>
<p>BI APP DEMO - 2020</p>
</footer>
</body>
</html>