<html>
<title>BI APP DEMO</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<nav>
  <h1>BI API APP</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tables">tables</a></li>
    <li><a href="/graphics">graphics</a></li>
    <li><a href="/info">info</a></li>
    <li><a href="/json">json</a></li>
    <li><a href="/getusers">get all users</a></li>
    <li><a href="/adduser">add new user</a></li>
    <li><form action="/regenerateDF">
      <input type="submit" value="Regenerate DF" />
  </form></li>
  </ul>
</nav>
<section class="content">
{% block content %}{% endblock %}
</section>
<footer>
<p>BI API APP-2020</p>
</footer>
</body>
</html>