 <div class=page>
  <h1>list</h1>
  <table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>country</th>
        <th>city</th>
        <th>profession</th>
        <th>age</th>
        <th>gender</th>
        <th>rand</th>
     </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.profession }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.rand }}</td>
        </tr>
    {% endfor %}
</table>

</div>