{% extends 'base.html' %}
{% block content %}
 <div class=page>
  <table>
      <thead>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>country</th>
        <th>city</th>
        <th>profession</th>
        <th>age</th>
        <th>gender</th>
        <th>rand</th>
        <th colspan="2">options</th>
     </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.profession }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.rand }}</td>
            <td><a href="deleteuser/{{ user.id }}">delete</a></td>
            <td><a href="modifyUser/{{ user.id }}">modify</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>

</div>
{% endblock %}